<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn about Immunizations</title>
  <link rel="stylesheet" href ="static/search-style.css">
</head>
<body>
  <form method="GET" action="/allvaccines/search">
    <div class="row">
      <label class="form-label above" for="brand_name">Search Vaccine Name</label></div>
  <div class = "container">
    <input type="text" id="brand_name" name="brand_name" class="autocomplete_input">
    <ul class = "autocomplete_list" id ="brandName_list">

    </ul>
  </div>

  <script src ="static/js/autocomplete.js"></script>
</body>
</html>