{% extends 'base.html' %}
{% block title %}Vaxtrac{% endblock %}

{% block head %} 


{% endblock %}


{% block body %}

  <form method="POST" action="/allvaccines/search">
    <div class="row">
      <label class="form-label above" for="brand_name">Search Vaccine Name</label></div>
  <div class = "container">
    <select name="brand_name" id="brand_name">
      
    </select>
    <!-- <input type="text" id="brand_name" name="brand_name" class="autocomplete_input">
    <ul class = "autocomplete_list" id ="brandName_list">

    </ul> -->
    <button onclick="performPost()">Find Vaccine Information</button>
  </div>
  </form>

  <script src ="static/js/autocomplete.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
  <script>
    function performPost() {
        $.ajax({
          type: "POST",
          url: "{{url_for('find_vaccines')}}",
          data: ['results'][0]["generic_name"]
        })
    }
  </script>
{% endblock %}