


{% block body %}

<div class="row ml-2 my-2">
  <div class="container col-6 fw-bold my-3 float-start">
    <div class="shadow-lg p-3 mb-0 rounded border-0 text-warning bg-primary bg-opacity-75">
        <h2>Search Vaccine Name</h2>
        <div class="text-warning fw-light">
          <p>Find which vaccines you should receive based on your age and health risk factors.</p>
        </div>
      </div> 
    </div>
  </div>

  <form>
  <div class = "container" id = "vaccine_info">
    <select name="brand_name" id="brand_name">
      
    </select>
    <!-- <input type="text" id="brand_name" name="brand_name" class="autocomplete_input">
    <ul class = "autocomplete_list" id ="brandName_list">

    </ul> -->
    <button id="find_vaccine">Find Vaccine Information</button>




  </div>
  </form>

  <script src ="static/js/autocomplete.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
  <script>
    const vaccine_info = document.getElementById("vaccine_info");
    const vaccine = document.getElementById("brand_name");

    document.getElementById("find_vaccine").addEventListener("click", (evt) => { 
      evt.preventDefault();

      const payload = {
        method: "POST",
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({"brand_name": vaccine.value})

        //['results'][0]["generic_name"] 
      }
      
      fetch("{{url_for('find_vaccines')}}", payload
      ).then((res) => {
        return res.json();
      }).then((json_data) => {
        //const new_div = Document.createElement("div");
        
        console.log(json_data);
        if (json_data["status"] == "Found"){
          for (const element of json_data){
          vaccine_info.insertAdjacentHTML(
            "beforeend",
            `<p>${element}</p>`
          );
        }}

      })


    });
  </script>

{% endblock %}