<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}Vaxtrac{% endblock %}
      

    </title>
    
    <!-- Bootstrap CSS basic-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
        GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

      
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
      <link rel="stylesheet" href="/static/custom.css">

      <div class="navbar">
        <a href="/dashboard"><img src='static/img/imageedit_4_3825572302.png' width="200" height="60"></a>
        <a href="/logout">Log Out</a>
      </div>

    {% block head %}{% endblock %}
  </head>
    

  <body>
    {% block body %}{% endblock %}
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
   {% block after_body %}{% endblock %}
  </body>
</html>
