
{% extends 'base.html' %}
{% block title %}Vaxtrac{% endblock %}

{% block head %} 


{% endblock %}


{% block body %}


<form action="/create_completed_imz" method = "POST">
  <h2>Track Immunizations</h2>

  Immunization <input type="text" id="imzField" name="imzField" /> <sp> Date of Administration <input type="date" id="adminDateField" name="adminDateField" /> </sp> 
  Reactions <input type="text" id="reactionField" name="reactionField" /> <br>
  <br><button id="addProfile" type = "submit">Add Completed Immunization</button>
        
</form>

<table>
  <tr>
  <th>Immunization</th>
  <th>Adminstraton Date</th>
  <th>Reaction</th>
  </tr>
  <td>{% for item in vaccine %}
    {{item}}<br>
    {% endfor %}</td>
    <td>{% for item in date %}
      {{item}}<br>
      {% endfor %}</td>
      <td>{% for item in reaction %}
        {{item}}<br>
        {% endfor %}</td>
</table>

<div>
  <form action="/post-form-data" method="POST" enctype="multipart/form-data">
    <input type="file" name="my-file">
    <input type="submit">
  </form>
</div>

      
    {% endblock %}
