<div>
    <canvas id="myChart"></canvas>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.2/d3.min.js" integrity="sha512-oKI0pS1ut+mxQZdqnD3w9fqArLyILRsT3Dx0B+8RVEXzEk3aNK3J3pWlaGJ8MtTs1oiwyXDAH6hG6jy1sY0YqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>

    const fluData = 'static/FluView_StackedColumnChart_Data.csv'

    d3.csv(fluData).then(function(datapoints) {
        console.log(datapoints)
        const WEEK = [];
        const total = [];

        for (i = 0; i < datapoints.length; i++) {
            WEEK.push(datapoints[i].WEEK)
            total.push(datapoints[i].total)
        }
        console.log(WEEK)
        console.log(total)

        const ctx = document.getElementById('myChart');
  
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: WEEK,
      datasets: [{
        label: '# Confirmed Inluenza Cases',
        data: total,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
    });
  </script>

<div class="row ml-2 my-2">
  <div class="container col-6 fw-bold my-3 float-start">
    <div class="shadow-lg p-3 mb-0 rounded border-0 text-warning bg-primary bg-opacity-75">
        <h2>Search vaccine provider by zip code</h2>
        <div class="text-warning fw-light">
          <p>Find which vaccines you should receive based on your age and health risk factors.</p>
        </div>
      </div> 
    </div>
  </div>

  <form>
  <div class = "container" id = "provider_info">
     <input type="text" id="zipcode" name="zipcode" class="autocomplete_input">Enter zipcode
    
    <button id="find_location">Find Vaccine Information</button>




  </div>
  </form>


  <script>
    const provider_info = document.getElementById("provider_info");
    const zip = document.getElementById("zipcode");

    document.getElementById("find_location").addEventListener("click", (evt) => { 
      evt.preventDefault();

      const payload = {
        method: "POST",
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({"brand_name": zip.value})

        //['results'][0]["generic_name"] 
      }
      
      fetch("{{url_for('find_provider')}}", payload
      ).then((res) => {
        return res.json();
      }).then((json_data) => {
        //const new_div = Document.createElement("div");
        
        console.log(json_data);
          for (const element of json_data){
          vaccine_info.insertAdjacentHTML(
            "beforeend",
            `<p>${element}</p>`
          );
        }}
      )

    });
  </script>

