{% extends 'base.html' %}
{% block title %}Vaxtrac{% endblock %}

{% block head %} 


{% endblock %}


{% block body %}


<div class="row ml-2 my-2">
    <div class="container col-6 fw-bold my-3 float-start">
      <div class="shadow-lg p-3 mb-0 rounded border-0 text-warning bg-primary bg-opacity-75">
          <h2>Vaccine Eligibility</h2>
        <div class="text-warning fw-light">
          <p>Find which vaccines you should receive based on your age and health risk factors.</p>
        </div>
      </div> 
    </div>
  </div>

    <div class="row ml-2 my-2">
        <div class="container col-6 my-3 float-start">
          <div class="shadow-lg p-3 mb-0 rounded border-1 bg-secondary bg-opacity-50">


<form onsubmit="handleForm(event)" action="/eligible_imz" method = "POST">
  
  When were you born?<br>
  <input type="date" id="dobField" name="dobField" /> <br><br>

  Are you pregnant or do you plan on becoming pregnant soon?<br>
  
  <input type="radio" id="pregnantYField" name="pregnantYField" /> Yes</input><br>
  <input type="radio" id="pregnantNField" name="pregnantNField" /> No </input><br><br>

  Are you planning to travel out of the U.S. in the near future?<br>
  
  <input type="radio" id="travelYField" name="travelYField" /> Yes</input><br>
  <input type="radio" id="travelNField" name="travelNField" /> No </input><br><br>

  Have you ever had the chickenpox vaccine, been diagnosed with chickenpox, or have laboratory results showing you had chickenpox?<br>

  <input type="radio" id="cpYField" name="cpYField" /> Yes</input><br>
  <input type="radio" id="cpNField" name="cpNField" /> No </input><br>
  <input type="radio" id="cpUField" name="cpUField" /> Unsure </input><br><br>

  Do you work in healthcare or public safety, and come in contact with blood or body fluids?<br>

  <input type="radio" id="bloodYField" name="bloodYField" /> Yes</input><br>
  <input type="radio" id="bloodNField" name="bloodNField" /> No </input><br><br>

  Do you use insulins or other injectable medications?<br>

  <input type="radio" id="injectYField" name="injectYField" /> Yes</input><br>
  <input type="radio" id="injectNField" name="injectNField" /> No </input><br><br>


  <button id="submitQuiz" type = "submit">Submit Quiz</button><sp><sp></form>
  </div>
  
</div>

</div>




    {% endblock %}
