body{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    background-image: url('https://www.niaid.nih.gov/themes/custom/niaid-drupal-theme/patternlab/src/images/waves.svg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header {
    /*background-image: url('/static/img/headerbanner.png');
    background-color: #cccccc; /* Used if the image is unavailable */
    /*height: 150px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
  }